body {
  background-image: url('fondo.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1.premier-title {
  font-size: 2.5rem;
  color: #2f353b;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(126, 126, 126, 0.1);
}

#searchInput {
  max-width: 500px;
  margin: 0 auto;
  display: block;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

button {
  display: block;
  margin: 0 auto 2rem auto;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.team-card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.15);
}

.team-card img {
  height: 150px;
  object-fit: contain;
  background-image: url('xd.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.team-card .card-body {
  background-color: #eacbff;
}

.card-title {
  font-size: 1.25rem;
  color: #212529;
  font-weight: 600;
}

.card-text {
  font-size: 0.9rem;
  color: #555;
}